
body{
    background-image: url("../images/black_bk6.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    margin: 0px 0px ;
   
}
.Navbar{
     
    display: flex;
    justify-content: center;
    color:rgb(226, 221, 221);
    background-color: rgb(74, 128, 128);
  
    /* edge not support sticky unless spacify top,left... */
    top: 0px;
    position: sticky;
    font-size: 30px;
}
.Navbar a:hover{
    background-color: rgb(138, 184, 184);
}

.nortxt{
    background-color: rgba(128, 128, 128, 0.452);
    max-width: 768px;
    border-radius: 1.5rem;
    color: whitesmoke;
    padding: 50px 50px;
    text-align: left;
    margin: 50px 50px;
   
}

.headtxt{
    background-color: rgba(128, 128, 128, 0.753);
    color: rgb(70, 255, 255);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headtxt a:hover
{
    background-color: rgba(170, 169, 169, 0.753);
    padding: 20px;
    
}
   


.block{
   /* background-color: rgb(251, 255, 0); */
    max-width: 1200px;
    margin: 25px 150px;
    display: flex;
    justify-content: space-evenly;
    
}

.container{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    margin: 25px;
  
    
}

.norimg{
    object-fit: cover;
    max-width: 400px;
    max-height: 320px;
    height: auto;
    border-radius: 5rem;
    
}